dist/
playground/elephize
playground/www/playground.js

node_modules/
.idea/
demo/node_modules
demo/public/build
demo/public/dist
demo/public/compiled_demo

# misc
.DS_Store
*.~
watchSpecimens___

npm-debug.log*
yarn-debug.log*
yarn-error.log*
