data/
external/
src/
src/cli.ts
!dist/src/
!dist/data/
tsconfig.json
package.json.bak
jest.config.js
elephizerc.example.json
.eslintignore
.eslintrc.js
.gitattributes

.github/
.idea/
demo/
doc/
dist/src/__tests__

# misc
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*
